body {
    background-color: #37474F;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    border: none;
    height: 100%;
    vertical-align: top;
}

h1 {
    text-align: center;
}

* {
  box-sizing: border-box;
}

.header {
    background-color: #039BE5;
    width: 100%;
    height: 8%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-card {
    width: 50%;
    background-color: #455A64;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
}

.content-card a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.content-card img {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    border-radius: 2px;
}

.text-content {
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.menu {
    margin: auto;
    position: absolute;
    bottom: 0;
    padding-bottom: 3px;
    display: flex;
    flex-wrap: wrap;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    display: inline;
    float: left;
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.menu a:active, a:hover {
    border-bottom: 3px solid white;
}

 .container {
    max-width: 400px;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.container div {
    background-color: transparent;
    width: 100%;
    display: inline-block;
}

.container img {
    width: 100%;
    height: auto;
}

@media (max-width: 640px){

}