body {
	background-color: #2e3440;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    border: none;
    height: 100%;
    vertical-align: top;
}

h1 {
    text-align: center;
}

* {
  box-sizing: border-box;
}

header {
    background-color: #4c566a;
    width: 100%;
    height: 10%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main	{
    width: 80%;
    background-color: #d8dee9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
    color: #2e3440;
    display: flex;
    flex-direction: column;
}

main a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

figure img {
    margin: auto;
    padding: auto; 
}

article {
    margin: auto;
    padding: auto; 
    width: 80%;
}

nav	{
	width: 100%;

}
nav ul	{
	display: flex;
	align-items: center;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
nav li 	{
	list-style: none;
	width: 25%;
	height: 100%;
	text-align: center;
	padding: .5em;
}

nav li a	{
	text-decoration: none;
	color: #d8dee9;
}

 .container {
    max-width: 400px;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 50%;
}

.container div {
    background-color: transparent;
    width: 100%;
    display: inline-block;
}

.container img {
    width: 100%;
    height: auto;
}

@media (max-width: 640px){
    header {
        height: 10%;
    }

    main {
        width: 90%;
        font-size: 1.25em;
    }

}
