body {
	background-color: #2e3440;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    border: none;
    height: 100%;
    vertical-align: top;
}

h1 {
    text-align: center;
}

* {
  box-sizing: border-box;
}

header {
    background-color: #4c566a;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main	{
    width: 67%;
    background-color: #d8dee9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    color: #2e3440;
    display: flex;
    flex-direction: column;
}

main a {
    color: #2e3440;
    text-decoration: none;
    font-size: 1.5em;
}

figure img {

    width: 100%;
}

article {
    margin: auto;
    padding: auto; 
    width: 65%;
}

nav	{
	width: 100%;

}
nav ul	{
	display: flex;
	font-size: 1.5em;
	margin: 0;
    padding: 0;
    justify-content: center;
}
nav li 	{
	list-style: none;
	width: 10%;
	height: 100%;
	text-align: center;
	padding: .5em;
}

nav li a	{
	text-decoration: none;
	color: #d8dee9;
}

 .container {
    max-width: 400px;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 50%;
}

.container div {
    background-color: transparent;
    width: 100%;
    display: inline-block;
}

.container img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px)	{
	nav	ul {
		flex-direction: column;
	}

	nav li	{
		width: 100%;
	}

	main 	{
		flex-direction: column;
		width: 90%;
		align-items: center;
	}

	footer	{
		width: 90%;
	} 
}

@media only screen and (max-width: 769px - 1024px)	{
	main 	{
		flex-direction: column;
		width: 90%;
		align-items: center;
	}

	footer	{
		width: 90%;
	} 
}